.featuredProducts {
    margin: 3em;
  
    .top {
      display: flex;
      align-items: center;
      margin-bottom: 2em;
  
      h1 {
        text-transform: capitalize;
      }

    }
  
    .bottom{
      display: flex;
      justify-content: space-between;
      gap: 1em;
      margin: 0 1em;
    }
  }
