.wishlist {
    position: absolute;
    max-width: 21em;
    right: 20px;
    top: 80px;
    z-index: 999;
    background-color: white;
    padding: 1.1em;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);

    h1 {
        margin-bottom: 1em;
        color: gray;
        font-size: 1.5rem;
        font-weight: 400;
    }

    .wishlist-item {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-bottom: 1em;

        img {
            width: 5em;
            height: 7em;
            object-fit: cover;
        
        }
    }
  }
  
  
  .wishlist-details h1 {
       font-size: 1.1rem;
       font-weight: 500;

  }

  
  .wishlist-details p {
    color: gray;
    margin: 0.5em 0;
    font-size: 0.9rem;
   }

   .wishlist-price {
    color: #2879fe;

   }
  
  .wishlist-delete {
      color: red;
      font-size: 1.9rem;
      cursor: pointer;
  }
  
  .add-to-cart{
      color: green;
      font-size: 1.9rem;
      cursor: pointer;
  }

  
  .wishlist-reset{
      color:red;
      font-size: 0.9rem;
      cursor: pointer;
  }
      