.contact{
    background-color: blue;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: center;

    .wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .mail {
            display: flex;
            align-items: center;
            justify-content: space-between;
        
            input{
                padding: 1em;
                border: none;
                border-radius: 5px 0 0 5px;
            }
            
            button{
                padding: 1em;
                color: white;
                background-color: #333;
                border-radius: 0 5px 5px 0;
                border: none;
                cursor: pointer;
            }
            
            .icons {
                display: flex;
                flex-direction: row;
                gap: 1em;
                margin-left: 1em;
            }
        }
        
    
    }
    
    
    
}

