.contact{
    background-color: blue;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.contact-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.contact-wrapper-mail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-wrapper-mail input{
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

.contact-wrapper-mail button{
    padding: 10px;
    color: white;
    background-color: #333;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
}